<div>
  <h3>{{title}}</h3>
  <div>
    {{#each items}}
      <div>
        <h5>{{this.name}}</h5>
        <p>{{this.price}}</p>
        <p>{{this.amount}}</p>
      </div>
    {{/each}}
  </div>
</div>